<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Detail</title>
</head>

<body>
    <div id="app">
        <h2></h2>
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Major Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script>
    let aaId = this.$route.params.aaId

    var vue = new Vue({
        el:"app",
        data:{
            school:{},
        },
        methods: {
            findAllMajors:function(){
                var url = "https://localhost:8080/api/v1/schoolMajors/" + aaId;
                axios.get(url,params)
                .then(res => {
                    console.log(res)
                })
                .catch(err => {
                    console.error(err); 
                })
            }
        },
    })
</script>

</html>