<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传违规词</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

    <style>
        body {
            margin: 5px auto;
            padding: 0;
            background-color: #F1F1F1;
        }

        label {
            padding: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: #F69;
            display: table-cell;
            vertical-align: middle
        }
    </style>
</head>

<body>

<div id="app">
    <div class="container">
        <!--搜索栏Start-->
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="theme"></label><input type="text" class="form-control shadow" name="" id="theme"
                                                      v-model="keyWord" maxlength="40" placeholder="请输入用户名">
                </div>
            </div>
            <div class="col-sm-2">
                <button id="search" type="button" class="btn btn-primary"
                        v-on:click.prevent="findBookComments">Search
                </button>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!--搜索栏End-->

        <!-- 修改完成返回提示框 -->
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert"
             v-bind:class="{'alert-danger': state === 2, 'alert-success': state === 1, 'invisible': state === 0}">
            <button type="button" class="close" aria-label="Close" onclick="$('#alert').hide();">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong v-text="alertMessage"></strong>
        </div>

    </div>

    <!-- 表格 -->
    <table class="table table-striped table-hover col-sm-12">
        <thead class="thead-dark">
        <tr>
            <th>评论ID</th>
            <th>被评书籍ID</th>
            <th>评论人ID</th>
            <th>评论内容</th>
            <th>评论时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(bookComment, index) in bookComments">
            <td v-text="bookComment.commentId"></td>
            <td v-text="bookComment.bookId"></td>
            <td v-text="bookComment.userId"></td>
            <th v-text="bookComment.commentContent" scope="row"></th>
            <td v-text="bookComment.commentDate"></td>
            <td style="text-align: center;">
                <div class="d-flex flex-row" style="height: 35px; width: 150px;">
                    <div class="form-group" style="margin-right: 10px;">
                        <label for="option"></label>
                        <select class="custom-select" name="option" id="option" v-model="selectedOption[index]"
                                @change="selectOnChange(bookComment, index)">
                            <option v-for="option in stateList" :value="option" :name="option.desc">
                                {{option.desc}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#deleteModalCenter" v-on:click.prevent="editDelete(bookComment)">
                            删除
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 修改确认框 -->
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="updateModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalCenterTitle">要修改的评论状态</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                v-on:click.prevent="cancleUpdate">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon7">修改前的评论状态</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="updateBeforeStatus.desc" aria-describedby="basic-addon7">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon8">修改后的评论状态</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="updateAfterStatus.desc" aria-describedby="basic-addon8">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                v-on:click.prevent="cancleUpdate">取消
                        </button>
                        <button type="button" class="btn btn-danger"
                                v-on:click.prevent="updateCommentOption(updateAfter)">确定删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除确认框 -->
    <div class="row">
        <!-- Modal -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle1">要删除的评论详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon0">评论ID</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.commentId" aria-describedby="basic-addon0">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">被评书籍ID</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.bookId" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">评论人ID</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.userId" aria-describedby="basic-addon2">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">评论内容</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.commentContent" aria-describedby="basic-addon3">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon4">评论时间</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.commentDate" aria-describedby="basic-addon4">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon6">评论状态</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Username" disabled
                                   v-model="deleteComment.status" aria-describedby="basic-addon6">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger"
                                v-on:click.prevent="deleteCommentOption(deleteComment)">确定删除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    let vue = new Vue({
        el: "#app",
        data: {
            alertMessage: "",
            state: 0,
            keyWord: null,
            bookComments: [],
            updateBeforeStatus: {},
            updateAfterStatus: {},
            updateAfter: {},
            deleteComment: {
                commentId: null,
                bookId: null,
                userId: null,
                commentContent: null,
                commentDate: null,
                status: null
            },
            selectedOption: [],
            stateList: [
                {
                    value: '0',
                    desc: '未确定'
                },
                {
                    value: '1',
                    desc: '通过'
                },
                {
                    value: '2',
                    desc: '不通过'
                }
            ]
        },
        methods: {
            findBookComments: function (event) {
                console.log("keyWord ", this.keyWord);

                axios.get("https://localhost:8080/api/v1/bookComments", {
                    params: {
                        userId: this.keyWord
                    }
                })
                    .then(res => {
                        this.bookComments = res.data;
                        // console.log(this.bookComments);

                        this.bookComments.forEach(function (item) {
                            let index = parseInt(item.status);
                            let op = { value: '' + vue.stateList[index].value, desc: vue.stateList[index].desc };
                            vue.selectedOption.push(op);
                        });

                        // console.log("vue.selectedOption: ", vue.selectedOption);

                        this.keyWord = null;
                    })
                    .catch(err => {
                        this.state = 2;
                        // console.log(err);

                        this.alertMessage = err.response.data.message;
                        this.alertShow();
                    })
            },
            editDelete: function (event) {
                this.deleteComment = event;
            },
            deleteCommentOption: function (event) {
                console.log(event);
                $('#deleteModalCenter').modal('hide');
                axios.post("https://localhost:8080/api/v1/bookComments/delete", event)
                    .then(res => {
                        console.log("res: ", res);
                        console.log("res: ", res.data);
                        this.state = 1;
                        this.alertMessage = "删除成功";
                        this.alertShow();
                        $('#search').click();
                    })
                    .catch(err => {
                        this.state = 2;
                        this.alertMessage = err.response.data.message;
                        this.alertShow();
                    });
            },
            selectOnChange: function (comment, index) {
                // console.log("原comment.status: ", comment.status, index);
                // console.log("原comment: ", this.stateList[parseInt(comment.status)].value, this.stateList[parseInt(comment.status)].desc);
                // console.log("新comment: ", this.selectedOption[index].value, this.selectedOption[index].desc);
                let newComment = JSON.parse(JSON.stringify(comment));
                newComment.status = parseInt(this.selectedOption[index].value)
                this.updateBeforeStatus = this.stateList[parseInt(comment.status)];
                this.updateAfterStatus = this.selectedOption[index];
                this.updateAfter = newComment;
                $('#updateModalCenter').modal('show');
            },
            updateCommentOption: function (newComment) {
                $('#updateModalCenter').modal('hide');
                console.log('updateCommentOption');
                console.log(newComment);
                axios.post("https://localhost:8080/api/v1/bookComments/update", newComment)
                    .then(res => {
                        this.state = 1;
                        this.alertMessage = "修改成功";
                        this.alertShow();
                        $('#search').click();
                    })
                    .catch(err => {
                        this.state = 2;
                        this.alertMessage = err.response.data.message;
                        this.alertShow();
                    })
            },
            cancleUpdate: function () {
                $('#updateModalCenter').modal('hide');
                window.location.reload();
            },
            alertShow: function () {
                if (this.state !== 0) {
                    $('#alert').show();
                    // 十秒后自动隐藏提示消息
                    setTimeout(function () {
                        $('#alert').hide();
                    }, 10000);
                }
            }
        },
    });

    window.onload = function () {
        $('#alert').hide();
        $('#search').click();
    };
</script>

</body>

</html>