<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>通知</title>

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

  <style>
    body {
      margin: 5px auto;
      padding: 0;
      background-color: #F1F1F1;
    }

    label {
      padding: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #F69;

      display: table-cell;
      vertical-align: middle
    }
  </style>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <label for="theme"></label><input type="text" class="form-control shadow" name="" id="theme"
                                          placeholder="请输入主题">
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
    <div class="col-sm-1">
    </div>
  </div>

  <div class="row">
    <div class="container-fluid mt-5 col-md-12">

      <div class="alert alert-primary shadow" role="alert">
        <h4 class="panel-title" style="text-align: center; font-weight: bold;">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration:none;">
            关于加强国内中风险地区疫情输入风险管控工作的公告
          </a>
        </h4>
        <hr>
        <div id="collapseOne" class="panel-collapse collapse in">
          <p>
            &emsp;&emsp;4月17日，我国仍处于疫情中风险的地区有湖北武汉市，黑龙江哈尔滨市、牡丹江市绥芬河市，辽宁大连市西岗区，山东青岛胶州市，广州越秀区、白云区，深圳宝安区，广东揭阳市惠来县。
            为加强上述中风险地区疫情输入风险管控，现就有关要求公告如下：<br>
            &emsp;&emsp;一、凡是14天内从上述中风险区来（返）松人员入松后12小时内主动向属地社区（村屯）报告，实行属地居家单独隔离14天，并完成“进、中、出”3次核酸检测。检测结果为阴性的，可解除隔离。<br>
            &emsp;&emsp;二、上述来（返）松人员一旦有发热、咳嗽等症状，及早去定点发热门诊就诊。<br>
            &emsp;&emsp;三、上述来（返）松人员若不如实报告，造成不良影响和疫情扩散的，将依法依规追究责任。<br>
            &emsp;&emsp;四、广大市民没有正当事由不要去往哈尔滨等中风险地区，以避免因采取疫情隔离管控措施给大家带来的工作和生活不便。<br>
            &emsp;&emsp;五、再次要求广大市民务必遵守我市疫情防控各项规定，少聚集、勤洗手、出门戴口罩。
          </p>
          <hr>
        </div>
        <div class="row text-center" style="font-size: smaller;">
          <table class="col-sm-12">
            <thead>
            <tr>
              <th>发送时间</th>
              <th>发送人id</th>
              <th>通知id</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2020-04-19 13:03:58.000+0000</td>
              <td>1</td>
              <td>e45c9f0d-31be-4155-9e38-cbc0e991d693</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <script type="text/javascript">
          $(function () {
              $('#collapseOne').collapse('hide')
          });

          let vue = new Vue({
              el: "#app",
              data: {}
          });
      </script>
    </div>
  </div>

</div>


<script>
    let vue = new Vue({
        el: "#app",
        data: {
            theme: "第一封信",
            mainBody: "朱啊哟肺癌的凤凰国际化",
            tongZhis: []
        },
        methods: {
            addTongZhi: function () {
                this.tongZhi.content = this.theme + "segment" + this.mainBody;
                console.log(this.tongZhi);
                console.log(JSON.stringify(this.tongZhi));
                axios.post("https://localhost:8080/api/v1/broadcasts/insert", this.tongZhi)
                    .then(res => {
                        console.log(res.data)
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }
        }
    });
</script>

</body>

</html>