<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新建通知</title>

  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>

  <style>
    body {
      margin: 5px auto;
      padding: 0;
      background-color: #F1F1F1;
    }

    /* 分散对齐 */
    .rightTip {
      text-align-last: justify;
      text-align: justify;
      text-justify: distribute-all-lines;
    }

    label {
      font-size: 20px;
      width: 60px;
    }

    .send {
      width: 100px;
      height: 35px;
      border: none;
      background-image: linear-gradient(120deg, #3498db, #8e44ad);
      background-size: 200%;
      color: #ffffff;
      cursor: pointer;
      transition: .5s;
      border-radius: 5px;
    }

    .send:hover {
      background-position: right;
    }
  </style>
</head>

<body>
<div id="app">
  <div class="container">
    <div class="column">
      <div class="row">
        <div class="col-sm-2 rightTip">
          <label for="sel">收件人</label>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <select class="form-control" name="" id="sel" disabled>
              <option selected>全体用户</option>
              <option>管理员</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2 rightTip">
          <label for="theme">主题</label>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <input type="text" class="form-control" name="" id="theme" aria-describedby="helpId"
                   placeholder="请输入主题" v-model="theme">
            <small id="helpId" class="form-text text-muted">请输入需要发送的通知的主题</small>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2 rightTip">
          <!-- <h4>正文</h4> -->
          <label for="ta">正文</label>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <textarea class="form-control" name="" id="ta" rows="15" aria-describedby="helpId1" maxlength="1024"
                      v-model="mainBody"></textarea>
            <small id="helpId1" class="form-text text-muted">请输入正文(最多1024字节)</small>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-default send" v-on:click.prevent="addTongZhi">发送</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    // 回车转<br/>
    function getFormatCode(strValue) {
        return strValue.replace(/\r\n/g, '<br>').replace(/\n/g, '<br>').replace(/\s/g, ' ')
            .replace(/"/g, "&quot;");
    }

    function segmentTheme(strValue) {
        let end = strValue.indexOf("segment");
        return strValue.substring(0, end);
    }

    function segmentBody(strValue) {
        let index = strValue.indexOf("segment");
        let start = index + "segment".length;
        return strValue.substring(start);
    }

    // <br/>转回车
    function getCode(strValue) {
        return strValue.replace(/<br>/g, "\n").replace(/&quot;/g, "\"");
    }

    let vue = new Vue({
        el: "#app",
        data: {
            theme: "",
            mainBody: "",
            tongZhi: {
                userId: 1,
                content: this.theme + "segment" + this.mainBody
            },
        },
        methods: {
            addTongZhi: function () {
                this.tongZhi.content = this.theme + "segment" + this.mainBody;
                console.log(this.tongZhi);
                console.log(JSON.stringify(this.tongZhi));
                axios.post("https://localhost:8080/api/v1/broadcasts/insert", this.tongZhi)
                    .then(res => {
                        console.log(res.data)
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }
        }
    });
</script>

</body>

</html>
