<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Major Detail</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <h2>
            <span v-text="major.name"></span>
            <span>包含课程情况</span>
        </h2>
        <div style="display: flex">
            <div style="margin-right: 40px;">

                <button class="btn btn-success ml-2" id="btn_ser" v-on:click.prevent="findAllMajorCourses" hidden>
                </button>
                <button class="btn btn-success ml-2" id="btn_ser1" v-on:click.prevent="findAllCourses" hidden>
                </button>


                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Course Name</th>
                            <th>Opera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(course,index) in major.courses">
                            <td v-text="course.name"></td>
                            <td>
                                <button id="btn_del" class="btn btn-warning"
                                    v-on:click="deleteCourse(course,index)">Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Course Name</th>
                            <th>Opera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(ccourse,index) in allCourses">
                            <td v-text="ccourse.name"></td>
                            <td>
                                <button id="btn_inp" class="btn btn-warning"
                                    v-on:click="addCourse2Major(ccourse,index)">Input
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script>

    window.onload = function () {
        document.getElementById("btn_ser").click();
        document.getElementById("btn_ser1").click();
    };

    var majorId = location.pathname.split('/')[2];

    var vue = new Vue({
        el: "#app",
        data: {
            major: {},
            allCourses: [],
            majorCourse: {
                major_id: "",
                course_id:""
            }
        },
        methods: {
            findAllMajorCourses: function () {
                let id = location.pathname.split('/')[2];

                var url = "https://localhost:8080/api/v1/majorCourses/" + id;
                axios.get(url)
                    .then(res => {

                        // console.log(res)
                        this.major = res.data[0];

                    })
                    .catch(err => {
                        // console.error(err); 
                    })
            },
            findAllCourses: function () {
                let url = "https://localhost:8080/api/v1/courses/" + majorId;
                axios.get(url)
                    .then(res => {
                        // console.log(res)
                        this.allCourses = res.data;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            deleteCourse: function (course, index) {
                if (window.confirm("delete?")) {

                    let id = course.id;
                    axios.delete("https://localhost:8080/api/v1/majorCourses/delete", {
                        params: {
                            major_id: majorId,
                            course_id:id
                        }
                    })
                        .then(res => {
                            console.log(res)
                            window.location.reload();
                        })
                        .catch(err => {
                            console.error(err);
                        })

                    return true;
                } else {
                    return false;
                }

            },
            addCourse2Major: function (course, index) {
                let id = course.id;

                this.majorCourse.major_id = majorId;
                this.majorCourse.course_id = id;

                axios.post("https://localhost:8080/api/v1/majorCourses/insert", this.majorCourse)
                    .then(res => {
                        console.log(res)
                        window.location.reload();
                    })
                    .catch(err => {
                        console.error(err);
                    })
            }
        }
    })
</script>

</html>